MONGODB_URI=mongodb+srv://ajaykandhare12_db_user:MUQ8ZL05XaAFjwcu@cluster0.7hnsssn.mongodb.net/EduConnect?appName=Cluster0
JWT_SECRET=86TmHoNzYND67cQNCSP3f3/T8IOb8l8IlofeYrfUevs=
JWT_REFRESH_SECRET=m520FgsSeG6ixj6owko5m1AqB8nBths6jBTWcc160os=
JWT_EXPIRE=7d
JWT_REFRESH_EXPIRE=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=ajaykandhare12@gmail.com
EMAIL_PASSWORD=iqrcjkhusjedrmwd
CLOUDINARY_CLOUD_NAME=dwukp7e0q
CLOUDINARY_API_KEY=697473933942626
CLOUDINARY_API_SECRET=SJK8ib01jGlsYUwkdd2IbNQUbaM
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000